*.suo
*.user
bin
obj
Temp
/src/Library
/src/Assets/Plugins/Editor/Atom.cs
/src/src.userprefs
/*.unitypackage
src/\.idea/\.idea\.src/\.idea/

src/\.idea/\.idea\.src/
/src/.idea
/src/Assets/Plugins/Zenject/OptionalExtras
/src/.vs
/src/Assets/EcsRx/*.pdb
/src/Assets/EcsRx/*.pdb.meta
src/Logs/
