<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcsRx" version="8.0.184" manuallyInstalled="true" />
  <package id="EcsRx.Infrastructure" version="8.0.184" />
  <package id="EcsRx.Plugins.Batching" version="8.0.184" manuallyInstalled="true" />
  <package id="EcsRx.Plugins.GroupBinding" version="8.0.184" manuallyInstalled="true" />
  <package id="EcsRx.Plugins.Views" version="8.0.184" manuallyInstalled="true" />
  <package id="SystemsRx" version="8.0.62" />
  <package id="SystemsRx.Infrastructure" version="8.0.62" />
  <package id="SystemsRx.MicroRx" version="8.0.62" />
</packages>