<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcsRx" version="7.0.158" manuallyInstalled="true" />
  <package id="EcsRx.Infrastructure" version="7.0.158" />
  <package id="EcsRx.Plugins.Batching" version="7.0.158" manuallyInstalled="true" />
  <package id="EcsRx.Plugins.Computeds" version="7.0.158" manuallyInstalled="true" />
  <package id="EcsRx.Plugins.GroupBinding" version="7.0.158" manuallyInstalled="true" />
  <package id="EcsRx.Plugins.ReactiveSystems" version="7.0.158" />
  <package id="EcsRx.Plugins.Views" version="7.0.158" manuallyInstalled="true" />
  <package id="SystemsRx" version="7.0.40" />
  <package id="SystemsRx.Infrastructure" version="7.0.40" />
  <package id="SystemsRx.MicroRx" version="7.0.40" />
  <package id="SystemsRx.Plugins.Computeds" version="7.0.40" />
</packages>